@page
@model Eshop.RazorPage.Pages.Admin.IndexModel
@{
    ViewData["selected"] = "index";
    ViewData["title"] = "داشبورد مدیریت";
}
<section id="dashboard-ecommerce">
    <div class="row">
        <div class="col-xl-12  dashboard-users" style="text-align:center;background-color:darkgray ; color: white ; padding: 30px;font-size:40px">
            <p>پنل مدیریت ادمین</p>
        </div>
    </div>
</section>

